<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<!-- Polyfill(s) for older browsers -->
	<script src="../node_modules/core-js/client/shim.min.js"></script>
	<script src="../node_modules/zone.js/dist/zone.js"></script>
	<script src="../node_modules/reflect-metadata/Reflect.js"></script>
	<script src="../node_modules/systemjs/dist/system.src.js"></script>
	<link href="../Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom fonts for this template -->
	<link href="../../Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Plugin CSS -->
	<link href="../../Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="../../Content/css/sb-admin.css" rel="stylesheet">
	<!-- Bootstrap core JavaScript -->
	<script src="../../Content/vendor/jquery/jquery.min.js"></script>
	<script src="../../Content/vendor/popper/popper.min.js"></script>
	<script src="../../Content/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="../../Content/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="../../Content/vendor/chart.js/Chart.min.js"></script>
	<script src="../../Content/vendor/datatables/jquery.dataTables.js"></script>
	<script src="../../Content/vendor/datatables/dataTables.bootstrap4.js"></script>
	<!-- Custom scripts for this template -->
	<script src="../../Content/js/sb-admin.min.js"></script>
	<!--

	<script src="/libs/angular2-polyfills.js"></script>
	<script src="/libs/typescript.js"></script>
	<script src="/libs/Rx.js"></script>
	<script src="/libs/angular2.dev.js"></script>
	<script src="/libs/router.dev.js"></script>
		-->
	<!-- 2. Configure SystemJS -->
	<script src="systems.config.js"></script>
	<script>
        System.import('app').catch(function (err) { console.error(err); });
	</script>

</head>
<body>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
